*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

.header-main{
  height: 60px;
  width: 100vw;
  display: flex;
  position: sticky;
  top: 0;
}

.header-left{
  height: 100%;
  width: 200px;
  min-width: 200px;
  line-height: 60px;
  text-align: center;
  font-size: 20px;
  background-color: red;
  position: relative;
  cursor: pointer;
}
.register-full{
  height: 0;
  width: 200px;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: yellow;
}
.register-full li{
  height: 30px;
  line-height: 40px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  top: 50%;
  transition: .5s;
}
.register-text{
  font-size: 20px;
  margin: 10px;
}
.register-field{
  width: 150px;
  font-size: 14px;
  padding: 0 10px;
}
.register-area{
  font-size: 20px;
  margin: 10px 0 20px 0;
}
.date-field{
  margin: 20px 0 5px 0;
}

.header-title{
  height: 100%;
  width: calc(100vw - (200px + 200px));
  min-width: 590px;
  text-align: center;
  line-height: 60px;
  font-size: 40px;
  color: rgb(125, 226, 190);
  background-color: rgb(239, 238, 229);
}

.header-right{
  height: 100%;
  width: 200px;
  min-width: 200px;
  line-height: 60px;
  text-align: center;
  font-size: 20px;
  background-color: red;
  position: relative;
}
.user-menu{
  width: 100%;
  background-color: blueviolet;
  position: absolute;
}
.user-menu li{
  height: 0;
  line-height: 40px;
  overflow: hidden;
  transition: .5s;
}


