<%# CSS・・・assets/stylesheets/shared/header.css %>
<div class = "header-main">
  <div class = "header-left">
    新 規 登 録
  </div>
  <div class = "header-title">
    memoapp
  </div>
  <div class = "header-right">
    <% if user_signed_in? %>
      <div class = "info-left">
        <%= link_to current_user.nickname, "/users/#{current_user.id}" %>
      </div>
      <div class = "info-right">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout" %>
      </div>
    <% else %>
      <div class = "info">
        <div class = "info-up">
          ログインを押して
        </div>
        <div class = "info-down">
          新規登録してね
        </div>
      </div>
      <div class = "info-right">
        <%= link_to "ログイン", new_user_session_path, class: "login" %>
      </div>
    <% end %>
  </div>
</div>