<%# CSS・・・assets/stylesheets/shared/header.css %>
<div class = "header-main">
  <div class = "header-left">
    新 規 登 録
  </div>
  <div class = "header-title">
    memoapp
  </div>
  <div class = "header-right", id = "user-pulldown">
   <% if user_signed_in? %>
    <%= link_to current_user.nickname, "users/#{current_user.id}" %>
    <ul class = "user-menu" id = "user-pulldown-list">
      <li><%= link_to "マイページ", "users/#{current_user.id}" %></li>
      <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout" %></li>
    </ul>
   <% else %>
    <%= link_to "ログイン", new_user_session_path, class: "login" %>
   <% end %>
  </div>
</div>