.main-full{
  width: 100vw;
  display: flex;
}

/* 左側 */
.main-left{
  height: 600px;
  width: 200px;
  background-color: aquamarine;
}
.search-main{
  height: 570px;
  width: 200px;
  padding: 0 0 0 20px;
  overflow: auto;
  background-color: rgb(247, 241, 241);
}
.search-field{
  height: 60px;
  width: 200px;
  font-size: 14px;
  line-height: 60px;
  padding: 0 5px;
  background-color: rgb(210, 234, 242);
}
.search-text{
  width: 150px;
}
.search-render{
  display: none;
}
.search{
  height: 100px;
  width: 100px;
  background-color: red;
}

/* カレンダー */
.simple-calendar{
  height: 630px;
  width: calc(100vw - 200px);
  min-width: 700px;
  padding: 20px 0 0 0;
  background-color: rgb(200, 200, 195);
}
.calendar-heading{
  text-align: center;
  background-color: rgb(225, 229, 223);
}
.calendar-div{
  height: 95px;
  width: 100px;
  overflow-y: auto;
}
#tagList{
  display: none;
}


  /* .signed-out-ver{
    height: 500px;
    width: 100vw;
    background-color: rgb(244, 131, 131) */ 
  /* #search-result{
    width: 30%;
  }
  
  /* .child{
    margin: 5px;
    border: 1px solid #dedede;
    background-color: #F4F4F4;
    padding: 5px;
    font-size: 12px;
  } */