.main-full{
  width: 100vw;
  display: flex;
}

/* 左側 */
.main-left{
  height: 630px;
  width: 200px;
  padding: 0 0 0 20px;
  overflow: auto;
  background-color: rgb(247, 241, 241);
}


.tag-check-box{
  padding: 0 0 0 20px;
}


#tagList{
  /* display: none; */
}

/* カレンダー */
.simple-calendar{
  height: 630px;
  width: calc(100vw - 200px);
  min-width: 700px;
  padding: 20px 0 0 0;
  background-color: rgb(200, 200, 195);
}
.calendar-heading{
  text-align: center;
  background-color: rgb(225, 229, 223);
}
.calendar-div{
  height: 95px;
  width: 150px;
  font-size: 15px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* 詳細検索 */
.search-field-main{
  height: 500px;
  width: 100vw;
  padding: 0 200px;
  overflow-y: auto; 
  background-color: rgb(217, 226, 234);
}
.search-field{
  height: 60px;
  width: 100%;
  font-size: 14px;
  line-height: 60px;
  text-align: center;
  background-color: rgb(210, 234, 242);
}
.js-text_field{
  width: 300px;
}

.search-field-ul{
  padding: 0 100px;

}
.search-field-ul li{

  height: 30px;
  width: 800px;
  display: flex;
  background-color: red;
}
.search_time{
  width: 300px;
  text-align: center;
  background-color: blue;
}
  /* .signed-out-ver{
    height: 500px;
    width: 100vw;
    background-color: rgb(244, 131, 131) */ 
  /* #search-result{
    width: 30%;
  }
  
  /* .child{
    margin: 5px;
    border: 1px solid #dedede;
    background-color: #F4F4F4;
    padding: 5px;
    font-size: 12px;
  } */